<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<connectionStrings>
		<clear/>

		<add name="LocalSqlServer" connectionString="Data Source=ENTAPPDEV_SERVE\SQLEXPRESS2008R2;Password=plm;Persist Security Info=True;User ID=plm;Initial Catalog=EnableVue"
   providerName="System.Data.SqlClient" />

	</connectionStrings>
	<appSettings>
		<!--uri for api calls-->
		<add key="content" value="apihome/content"/>
		<add key="workrequests" value="apihome/workrequests/"/>
		<add key="contentrequests" value="apihome/contentrequests"/>
		<add key="fl_sec_token" value=""/>
		<add key="fl_url" value="https://findlaw-prod.apigee.net/v1/crowdsourcing/live/notifyFindLaw/" />
		<add key="evue_sec_token" value=""/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<customErrors mode="On"/>
		<httpRuntime maxUrlLength="500" />
	</system.web>
	<system.serviceModel>
		<protocolMapping>
			<add scheme="http" binding="webHttpBinding"/>
		</protocolMapping>
		<bindings>
			<basicHttpBinding>
				<binding maxBufferSize="64000000" maxReceivedMessageSize="64000000" maxBufferPoolSize="64000000">
					<readerQuotas maxDepth="64000000" maxStringContentLength="64000000" maxArrayLength="64000000" maxBytesPerRead="64000000" />
					<security mode="None"/>
				</binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceSecurityAudit auditLogLocation="Application" serviceAuthorizationAuditLevel="Failure" messageAuthenticationAuditLevel="Failure" suppressAuditFailure="true"  />
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
   multipleSiteBindingsEnabled="true" />
		<standardEndpoints>
			<webHttpEndpoint>
				<standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"></standardEndpoint>
			</webHttpEndpoint>
		</standardEndpoints>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>

</configuration>
